{% extends "base.html" %} {% block body %}
<div class="flex flex-col items-center">
  <h1 class="text-2xl text-white">{{ name }}'s SK TCG Trader</h1>
  <br />
  <h2 class="my-4 text-xl text-white" id="help-text">
    Click the button below to get the metrics
  </h2>
  <br />
  <p class="font-bold text-white" id="data"></p>
  <button
    class="bg-purple-500 p-4 rounded-lg text-white font-bold"
    id="submit"
    hx-get="/metrics"
    hx-target="#data"
    hx-swap="innerHTML"
  >
    Get Data
  </button>
</div>
{% endblock %}
